# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
venv/

# Env / secrets
.env
.env.*

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Data (keep only small samples if needed)
data/raw/
data/processed/
*.parquet
*.csv

# DB / Warehouse local state (common)
metastore_db/
spark-warehouse/
derby.log

# Docker
**/volumes/
